{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Buscador en la parte izquierda -->
        <div class="col-md-4 bg-light p-3 border rounded">
            <h5>Buscar Colaborador</h5>
            <div class="mb-3">
                <label for="departamento" class="form-label fw-bold">Departamento:</label>
                <select name="id_departamento" id="departamento" required class="form-select">
                    <option value="">Seleccione un departamento</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label fw-bold">Ingrese el nombre</label>
                <input type="search" name="nombre" id="nombre" class="form-control" placeholder="Buscar colaborador...">
            </div>
            <div class="text-center">
                <button id="buscar" class="btn btn-primary">Buscar</button>
            </div>
        </div>

        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table styled-table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Colaborador</th>
                            <th>Comprobante</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-colaboradores">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- variables de URL para JavaScript -->
<script>
    var urlListaDepartamentos = "{% url 'lista_departamentos' %}";
    var urlColaboradores = "{% url 'colaboradores_con_permisos' %}";
    var urlGuardarComprobante = "{% url 'guardar_comprobante' %}";
</script>

<script src="{% static 'js/permisos/comprobantes.js' %}"></script>
{% endblock %}
