{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- jQuery (debe ir antes de DataTables) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <div class="align-items-center">
                    <h1 class="text-gray-800 text-center font-weight-bold "> Lista Permisos de Empleados</h1>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-12">
                    <div class="card-header py-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="col-md-6 d-flex align-items-center">
                                <label for="" class="m-0 font-weight-bold text-primary">
                                    Permisos desde:
                                </label>
                                <input type="date" class="m-3 form-control w-25">
                                <label for="" class="m-0 font-weight-bold text-primary">
                                    Hasta:
                                </label>
                                <input type="date" class="m-3 form-control w-25">
                            </div>
                            <div class="btn-group ms-auto" role="group">
                                <button type="button" class="btn btn-outline-primary" title="Imprimir">
                                    <i class="bi bi-printer-fill"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary" title="Exportar a PDF">
                                    <i class="bi bi-file-earmark-pdf-fill"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary" title="Exportar a XML">
                                    <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="styled-table" id="dataTable" cellspacing="0">
                                <thead class="text-center">
                                    <tr>
                                        <th>Fecha Creación</th>
                                        <th>Colaborador</th>
                                        <th>Tipo de Permiso</th>
                                        <th>Permiso de</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Motivo</th>
                                        <th>Estado Inicial</th>
                                        <th>Estado Final</th>
                                        <th>Empresa</th>
                                        <th>Sucursal</th>
                                        <th>Departamento</th>
                                        <th>Comprobante</th>
                                        <th>Permiso</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for permiso in permisos %}
                                    <tr>
                                        <td>{{ permiso.fecha_creacion }}</td>
                                        <td>{{ permiso.nombre_colaborador }}</td>
                                        <td>{{ permiso.tipo_permiso }}</td>
                                        <td>{{ permiso.permiso_de }}</td>
                                        <td>{{ permiso.fecha_inicio }}</td>
                                        <td>{{ permiso.fecha_fin }}</td>
                                        <td>{{ permiso.motivo }}</td>
                                        <td>{{ permiso.estado_inicial }}</td>
                                        <td>{{ permiso.estado_final }}</td>
                                        <td>{{ permiso.nombre_empresa }}</td>
                                        <td>{{ permiso.nombre_sucursal }}</td>
                                        <td>{{ permiso.nombre_departamento }}</td>
                                        <td>
                                            {% if permiso.comprobante %}
                                            <a href="{{ permiso.comprobante.url }}" target="_blank">Ver Comprobante</a>
                                            {% else %}
                                            No disponible
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if permiso.permiso %}
                                            <a href="{{ permiso.permiso.url }}" target="_blank">Ver Permiso</a>
                                            {% else %}
                                            No disponible
                                            {% endif %}
                                        </td>

                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-outline-primary" title="Editar">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-primary" title="Eliminar">
                                                    <i class="bi bi-trash-fill"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; RRHH - Promaco 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<!-- Bootstrap core JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}