{% extends 'base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/permisos/historial_permisos.css' %}">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Page Heading -->
    <div class="align-items-center">
        <h1 class="text-gray-800 text-center font-weight-bold poppins-bold"> Solicitudes Pendientes</h1>
    </div>

    <!-- Tabla -->
    <div class=" p-1">
        <div class="table-responsive">
            <!-- Agregar CSRF Token -->
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <table class="table styled-table datatable text-center table-striped table-hover" id="dataTable"
                cellspacing="0">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Nombre</th>
                        <th>Tipo de Permiso</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Motivo</th>
                        <th>Comprobante</th>
                        <th>Permiso Firmado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="tabla-permisos">
                    {% for permiso in permisos_gestion %}
                    {% if permiso.estado_inicial == "Pendiente" %}
                    <tr data-permiso-id="{{ permiso.id_permiso }}">
                        <td>{{ permiso.nombre_departamento }}</td>
                        <td class="colaborador">{{ permiso.nombre_colaborador }}</td>
                        <td>{{ permiso.nombre_tipo_permiso }}</td>
                        <td>
                            {% if permiso.permiso_de == "Horas" %}
                            {{ permiso.fecha_inicio|date:"d/m/Y H:i" }}
                            {% else %}
                            {{ permiso.fecha_inicio|date:"d/m/Y" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if permiso.permiso_de == "Horas" %}
                            {{ permiso.fecha_fin|date:"d/m/Y H:i" }}
                            {% else %}
                            {{ permiso.fecha_fin|date:"d/m/Y" }}
                            {% endif %}
                        </td>
                        <td>
                            <span data-bs-toggle="popover" data-bs-content="{{ permiso.motivo }}">
                                {{ permiso.motivo|slice:":30" }}...
                            </span>
                        </td>
                        <td>
                            {% if permiso.comprobante %}
                            <a href="{{ permiso.comprobante.url }}" class="ver-archivo">Ver Comprobante</a>
                            {% else %}
                            No disponible
                            {% endif %}
                        </td>
                        <td>
                            <input type="file" class="form-control permiso-firmado"
                                id="archivo_firmado_{{ permiso.id_permiso }}" disabled>
                        </td>
                        <input type="hidden" class="fecha-permiso" value="{{ permiso.fecha_creacion }}">
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-imprimir"
                                    data-fecha="{{ permiso.fecha_creacion }}" data-empresa="{{ permiso.empresa}}"
                                    data-sucursal="{{ permiso.sucursal}}"
                                    data-departamento="{{ permiso.nombre_departamento }}"
                                    data-nombre="{{ permiso.nombre_colaborador }}"
                                    data-tipo="{{ permiso.nombre_tipo_permiso }}"
                                    data-inicio="{{ permiso.fecha_inicio }}" data-fin="{{ permiso.fecha_fin }}"
                                    data-motivo="{{ permiso.motivo }}">
                                    <i class="bi bi-printer"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-rechazar"
                                    data-permiso-id="{{ permiso.id_permiso }}"
                                    onclick="actualizarEstado(this, 'RECHAZADO')">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                                <button type="button" id="btn-aceptar" class="btn btn-outline-success btn-aceptar"
                                    data-permiso-id="{{ permiso.id_permiso }}"
                                    onclick="actualizarEstado(this, 'APROBADO')" disabled>
                                    <i class="bi bi-check-lg"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->


    <!-- Modal -->
    <div class="modal fade" id="modalImagen" tabindex="-1" aria-labelledby="modalImagenLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImagenLabel">Vista Previa del Archivo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body text-center">
                    <img id="imagenModal" src="" class="img-fluid" alt="Vista previa">
                </div>
            </div>
        </div>
    </div>



</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script src="../../static/js/permisos/permisos_gestion.js"></script>


{% endblock %}