{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gestión RRHH{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base' %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#asistencias-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-person-lines-fill"></i><span>Asistencias</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="asistencias-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>Lista de Asistencias</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i
                ><span>Asistencias Departamento</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#permisos-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Permisos</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="permisos-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>Solicitud</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>Historial de Permisos</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#roles-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span>Roles</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="roles-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="{% url 'crear_rol' %}">
                <i class="bi bi-circle"></i><span>Crear Rol</span>
              </a>
            </li>
            <li>
              <a href="{% url 'listar_roles' %}">
                <i class="bi bi-circle"></i
                ><span>Listar Roles Disponibles</span>
              </a>
            </li>
            <li>
              <a href="{% url 'asignar_rol' %}">
                <i class="bi bi-circle"></i><span>Asignar Roles</span>
              </a>
            </li>
            <li>
              <a href="{% url 'listar_roles_asignados' %}">
                <i class="bi bi-circle"></i><span>Listar Roles Asignados</span>
              </a>
            </li>
            <li>
              <a href="{% url 'registro_asistencia' %}">
                <i class="bi bi-circle"></i><span>Registrar Asistencia</span>
              </a>
            </li>
            <li>
              <a href="{% url 'listar_asistencias' %}">
                <i class="bi bi-circle"></i><span>Listar Asistencia</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i
                ><span>-----------------------------------</span>
              </a>
            </li>
            <li>
              <a href="{% url 'sucursales' %}">
                <i class="bi bi-circle"></i><span>Sucursales</span>
              </a>
            </li>
            <li>
              <a href="{% url 'departamentos' %}">
                <i class="bi bi-circle"></i><span>Departamentos</span>
              </a>
            </li>
            <li>
              <a href="{% url 'colaboradores' %}">
                <i class="bi bi-circle"></i><span>Colaboradores</span>
              </a>
            </li>
            <li>
              <a href="{% url 'jefes' %}">
                <i class="bi bi-circle"></i><span>Jefes</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-heading">Anuncios</li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-file-earmark-arrow-down"></i>
            <span>Políticas de Asistencias</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-file-earmark-arrow-up"></i>
            <span>Subir Políticas</span>
          </a>
        </li>
      </ul>
    </aside>

    <!-- Contenido Principal -->
    <main class="content">
      {% block content %}
      <h1>WE ARE THE DREAMERS</h1>
      <p>Selecciona una opción del menú lateral para continuar.</p>
      {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
