<!-- Header -->
{% load static %}

<header class="header d-flex align-items-center justify-content-between w-auto">
    <div class="d-flex align-items-center">
        <a href="#"> <img src="{% static 'img/logo.png' %}" alt="example" class="logo-img"></a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    {% if request.user.is_authenticated %}
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none" id="profileDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span>
                    <i class="bi bi-person-circle"></i>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownToggle = document.getElementById("profileDropdown");
        dropdownToggle.addEventListener("click", function (event) {
            event.preventDefault();
            let dropdownMenu = this.nextElementSibling;
            dropdownMenu.classList.toggle("show");
        });
    });
</script>
